body {margin: 0}

#notfound {height: 100vh}

#notfound .notfound, .notfound {
    left: 50%;
    top: 50%;
}

.notfound {width: 100%}

.notfound {height: 220px}

.notfound h2 {
    font-size: 33px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 3px;
}

.notfound a {
    color: #a2895e;
    font-weight: 200;
    border-radius: 2px;
}